:root {
  --highcharts-core-vikafjell-colors-general-background: rgba(247, 247, 248, 1);
  --highcharts-core-vikafjell-colors-general-labels: rgba(0, 0, 0, 1);
  --highcharts-core-vikafjell-colors-general-grid: rgba(227, 227, 232, 1);
  --highcharts-core-vikafjell-colors-general-title: rgba(117, 115, 140, 1);
  --highcharts-core-vikafjell-colors-general-subtitle: rgba(47, 46, 56, 1);
  --highcharts-core-vikafjell-colors-general-axistitles: rgba(102, 102, 102, 1);
  --highcharts-core-vikafjell-colors-general-pane: rgba(227, 226, 232, 1);
  --highcharts-core-vikafjell-colors-series-0: rgba(43, 114, 251, 1);
  --highcharts-core-vikafjell-colors-series-1: rgba(100, 189, 198, 1);
  --highcharts-core-vikafjell-colors-series-2: rgba(238, 202, 52, 1);
  --highcharts-core-vikafjell-colors-series-3: rgba(254, 106, 53, 1);
  --highcharts-core-vikafjell-colors-series-4: rgba(250, 75, 66, 1);
  --highcharts-core-vikafjell-colors-series-5: rgba(238, 96, 224, 1);
  --highcharts-core-vikafjell-colors-series-6: rgba(123, 71, 233, 1);
  --highcharts-core-vikafjell-colors-series-7: rgba(93, 137, 223, 1);
  --highcharts-core-vikafjell-colors-series-8: rgba(106, 209, 254, 1);
  --highcharts-core-vikafjell-colors-series-9: rgba(63, 220, 126, 1);
}
