name: Авто-деплой

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Развертываем приложение
    runs-on: self-hosted
    env:
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      YANDEXGPT_API_KEY: ${{ secrets.YANDEXGPT_API_KEY }}
      YANDEXGPT_CATALOG_ID: ${{ secrets.YANDEXGPT_CATALOG_ID }}
      FUSION_BRAIN_API_KEY: ${{ secrets.FUSION_BRAIN_API_KEY }}
      FUSION_BRAIN_SECRET_KEY: ${{ secrets.FUSION_BRAIN_SECRET_KEY }}
      DEBUG: ${{ secrets.DEBUG }}

    steps:
    - name: Загружаем код
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Собираем образы
      run: |
        docker compose build --parallel

    - name: Создаем .env файл
      run: |
        cat << EOF > .env
        BOT_TOKEN=${BOT_TOKEN}
        YANDEXGPT_API_KEY=${YANDEXGPT_API_KEY}
        YANDEXGPT_CATALOG_ID=${YANDEXGPT_CATALOG_ID}
        FUSION_BRAIN_API_KEY=${FUSION_BRAIN_API_KEY}
        FUSION_BRAIN_SECRET_KEY=${FUSION_BRAIN_SECRET_KEY}
        DEBUG=${DEBUG}
        EOF

    - name: Запускаем приложение
      run: |
        docker compose down || true
        docker compose up -d
        echo "✅ Приложение запущено"
